.header {
  display: none;
}

.items {
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebarBtn {
  display: none;
}

@media (max-width: 1024px) {
  .sidebarBtn {
    display: block;
  }
}
